.baggrund {
  width: 100%;
  background-position: center;
  background-image: url(images/Splash.jpg);
  background-size: cover;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: repeat(6, 1fr);
  background-position: 40% 60%;
}

h2 {
  text-align: center;
}

.knap_midte {
  text-align: center;
}

button {
  margin-bottom: 1rem;
  margin-top: 1rem;
}
