h2 {
  text-align: center;
}

h1 {
  color: #fff;
  font-size: 2rem;
  text-align: center;
}

p {
  text-align: center;
}

.knap_midte {
  text-align: center;
}

/************ forside mobil **********/

.baggrund {
  display: grid;
}

.splash {
  height: 80vw;
}

.splash,
h1 {
  grid-area: 1/1;
}

h1 {
  place-self: center center;
  margin-top: 8rem;
}

.btn_splash {
  text-align: center;
}

button a {
  background-color: #072040;
  cursor: pointer;
  color: #ffffff;
  font-family: "raleway", sans-serif;
  font-size: 18px;
  text-decoration: none;
  border: none;
  transition: all ease-in 0.1s;
}

button {
  margin-bottom: 2rem;
  margin-top: 2rem;
}

#section_kvalitet {
  margin-top: 2rem;
}

#section_kvalitet img {
  margin-bottom: 2rem;
}

#section_kvalitet h2 {
  padding-top: 2rem;
  padding-bottom: 2rem;
}

#section_wrapper img {
  padding-bottom: 2rem;
}

@media (min-width: 1000px) {
  #section_kvalitet {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
  }

  #section_kvalitet img {
    grid-column: 1;
    grid-row: 1;
  }

  #section_kvalitet #section_wrapper {
    grid-column: 2;
    padding-top: 2rem;
  }

  #section_kvalitet #section_wrapper h2 {
    padding-bottom: 1rem;
  }

  /******* Splashbillede forside med H1 og knap *********/

  h1 {
    color: #fff;
    font-size: 4rem;
  }

  .baggrund {
    display: grid;
  }

  .splash,
  h1,
  .btn_splash {
    grid-area: 1/1;
  }

  h1,
  .btn_splash {
    place-self: center center;
  }

  .btn_splash {
    margin-top: 16rem;
  }

  .splash {
    object-fit: cover;
    width: 100%;
    height: 60vw;
  }
}
