/*  .......... Generelle regler ......... */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/*  .......... Overflow: Gør så det ikke er muligt at scrolle vandret ......... */

body {
  overflow-x: hidden;
}

img {
  width: 100%;
  height: auto;
}

/*  .......... Fonte / tekst ......... */

p {
  line-height: 1.5rem;
  font-family: "raleway", sans-serif;
}

h2 {
  font-family: "Lato", sans-serif;
  font-weight: 400;
}
h1 {
  font-family: "Lato", sans-serif;
}

/*  .......... logo ......... */

.logo {
  transition: ease-in 0.1s;
  cursor: pointer;
}

.logo img {
  max-width: 50%;
}

/*  .......... Nav ......... */

nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-height: 8vh;
}

.nav_links {
  display: flex;
  justify-content: space-evenly;
  width: 30%;
  text-transform: uppercase;
}

.nav_links li {
  list-style: none;
  transition: all ease-in 0.1s;
}

.nav_links a {
  text-decoration: none;
  letter-spacing: 3px;
  font-weight: bold;
  font-size: 16px;
  color: black;
  font-family: "raleway", sans-serif;
}

/*  .......... nav hover ......... */

.nav_links li:hover {
  scale: 1.1;
}

/*  .......... Burgermenu ikon......... */

.burger div {
  width: 25px;
  height: 3px;
  margin: 5px;
  background-color: black;
  border-radius: 5px;
  transition: all 0.3s ease;
}

.burger {
  cursor: pointer;
  display: none;
}

/*  .......... knapper ......... */

button {
  background-color: #072040;
  display: inline-block;
  cursor: pointer;
  color: #ffffff;
  font-family: "raleway", sans-serif;
  font-size: 18px;
  padding: 9px 29px;
  text-decoration: none;
  border: none;
  transition: all ease-in 0.1s;
}

button:hover {
  scale: 1.1;
}

/*  .......... footer ......... */

.social_loger {
  display: flex;
  gap: 15px;
  justify-content: center;
}
.social_loger img {
  max-width: 2rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

footer p {
  text-align: center;
  color: #fff;
}

footer {
  background-color: #072040;
  padding-top: 2.5rem;
}

.om_os {
  padding-top: 2rem;
}

.find_os {
  padding-top: 2rem;
}

/*  .......... @Media ......... */

@media (max-width: 750px) {
  /*  .......... Mobil ......... */
  .nav_links {
    position: absolute;
    right: 0px;
    height: 92vh;
    top: 9.5vh;
    background-color: #072040;
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    transform: translateX(100%);
    transition: all cubic-bezier(0.075, 0.82, 0.165, 1) 0.6s;
  }

  .nav_links li a {
    color: #ffff;
  }

  /*  .......... Burgermenu ......... */
  /*  ...Inspiration: https://www.youtube.com/watch?v=gXkqy0b4M5g ......... */

  .burger {
    display: block;
    margin-top: 10px;
    margin-left: 10px;
  }

  /*  .......... Burgermenu toggle former sig om X......... */

  .nav_toggle {
    transform: translateX(0%);
  }

  .toggle .line1 {
    transform: rotate(-45deg) translate(-5px, 6px);
  }
  .toggle .line2 {
    opacity: 0;
  }
  .toggle .line3 {
    transform: rotate(45deg) translate(-5px, -6px);
  }

  /*  ..... Burgermenu hover effekt (linerne bevæger sig fra hinanden) ......... */

  .hover .line1 {
    transform: translateY(-3px);
    transition: all 0.3s;
  }
  .hover .line2 {
    opacity: 0;
    transition: all 0.3s;
  }
  .hover .line3 {
    transform: translateY(3px);
    transition: all 0.3s;
  }

  /*  .......... logo......... */

  .logo {
    margin-top: 10px;
    margin-right: 10px;
  }

  /*  .......... Footer......... */

  .social_loger img {
    max-width: 2rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
  }

  /*  .......... Mobil slut ......... */
}

@media (min-width: 750px) {
  /*  .......... Desktop ......... */

  /*  .......... Nav ......... */

  .nav_links {
    width: 50%;
  }

  .nav_links {
    width: 45%;
  }

  .nav_links {
    width: 55%;
  }

  /*  .......... Nav logo ......... */

  .logo img {
    max-width: 2rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
    max-width: 75%;
  }

  /*  .......... Footer ......... */

  /*  .......... Footer bliver indelt i 3 kolonner på desktop ......... */

  footer {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    padding-top: 3rem;
    padding-bottom: 3rem;
  }

  .om_os {
    padding-top: 0;
  }

  .find_os {
    padding-top: 0;
  }
}
