* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  overflow-x: hidden;
}

img {
  width: 100%;
  height: auto;
}

p {
  line-height: 1.5rem;
  font-family: "raleway", sans-serif;
}

h2 {
  font-family: "Lato", sans-serif;
  font-weight: 400;
}
h1 {
  font-family: "Lato", sans-serif;
}

button {
  background-color: #072040;
  display: inline-block;
  cursor: pointer;
  color: #ffffff;
  font-family: "raleway", sans-serif;
  font-size: 18px;
  padding: 9px 29px;
  text-decoration: none;
  border: none;
  transition: all ease-in 0.1s;
}

button:hover {
  scale: 1.1;
}

/*  .......... footer ......... */

.social_loger {
  display: flex;
  gap: 15px;
  justify-content: center;
}
.social_loger img {
  max-width: 2rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

footer p {
  text-align: center;
  color: #fff;
}

footer {
  background-color: #072040;
  padding-top: 2.5rem;
}

.om_os {
  padding-top: 2rem;
}

.find_os {
  padding-top: 2rem;
}

/*  .......... Nav ......... */

nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-height: 8vh;
}

.nav_links {
  display: flex;
  justify-content: space-around;
  width: 30%;
  text-transform: uppercase;
}

.nav_links li {
  list-style: none;
  transition: all ease-in 0.1s;
}

.nav_links a {
  text-decoration: none;
  letter-spacing: 3px;
  font-weight: bold;
  font-size: 14px;
  color: black;
  font-family: "raleway", sans-serif;
}

/*  .......... nav hover ......... */

.nav_links li:hover {
  scale: 1.1;
}

/*  .......... logo ......... */

.logo {
  transition: ease-in 0.1s;
  cursor: pointer;
}

.logo img {
  max-width: 50%;
}

/*  .......... Burger ......... */

.burger div {
  width: 25px;
  height: 3px;
  margin: 5px;
  background-color: black;
  border-radius: 5px;
  transition: all 0.3s ease;
}

.burger {
  cursor: pointer;
  display: none;
}

/*  .......... Baggrund ......... */

/*  .......... @Media ......... */

@media (max-width: 750px) {
  .nav_links {
    position: absolute;
    right: 0px;
    height: 92vh;
    top: 8vh;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    width: 50%;
    align-items: center;
    transform: translateX(100%);
    transition: all cubic-bezier(0.075, 0.82, 0.165, 1) 0.6s;
  }

  /* body {
    overflow: hidden;
  } */

  .burger {
    display: block;
    margin-top: 10px;
    margin-left: 10px;
  }

  .logo {
    margin-top: 10px;
    margin-right: 10px;
  }

  .social_loger img {
    max-width: 2rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
  }

  .nav_toggle {
    transform: translateX(0%);
  }

  .toggle .line1 {
    transform: rotate(-45deg) translate(-5px, 6px);
  }
  .toggle .line2 {
    opacity: 0;
  }
  .toggle .line3 {
    transform: rotate(45deg) translate(-5px, -6px);
  }

  .hover .line1 {
    transform: translateY(-3px);
    transition: all 0.3s;
  }
  .hover .line2 {
    opacity: 0;
    transition: all 0.3s;
  }
  .hover .line3 {
    transform: translateY(3px);
    transition: all 0.3s;
  }
}

@media (min-width: 750px) {
  .nav_links {
    width: 50%;
  }

  .nav_links {
    width: 45%;
  }

  .logo img {
    max-width: 2rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
    max-width: 75%;
  }

  .nav_links {
    width: 55%;
  }

  footer {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    padding-top: 3rem;
    padding-bottom: 3rem;
  }

  .om_os {
    padding-top: 0;
  }

  .find_os {
    padding-top: 0;
  }
}
