* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img {
  width: 100%;
  height: auto;
}

/*  .......... Nav ......... */

nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-height: 8vh;
}

.nav_links {
  display: flex;
  justify-content: space-around;
  width: 30%;
  text-transform: uppercase;
}

.nav_links li {
  list-style: none;
  transition: all ease-in 0.1s;
}

.nav_links a {
  text-decoration: none;
  letter-spacing: 3px;
  font-weight: bold;
  font-size: 14px;
  color: black;
}

/*  .......... nav hover ......... */

.nav_links li:hover {
  scale: 1.1;
}

/*  .......... logo ......... */

.logo {
  text-transform: uppercase;
  letter-spacing: 5px;
  font-size: 16px;
  color: white;
  transition: ease-in 0.1s;
  cursor: pointer;
}

.logo img {
  max-width: 50%;
}

/*  .......... Burger ......... */

.burger div {
  width: 25px;
  height: 3px;
  margin: 5px;
  background-color: black;
  border-radius: 5px;
  transition: all 0.3s ease;
}

.burger {
  cursor: pointer;
  display: none;
}

/*  .......... Baggrund ......... */

/*  .......... @Media ......... */

@media (max-width: 900px) {
  .nav_links {
    position: absolute;
    right: 0px;
    height: 92vh;
    top: 8vh;
    background-color: #5d4954;
    display: flex;
    flex-direction: column;
    width: 50%;
    align-items: center;
    transform: translateX(100%);
    transition: all cubic-bezier(0.075, 0.82, 0.165, 1) 0.6s;
  }

  body {
    overflow: hidden;
  }

  .burger {
    display: block;
    margin-top: 10px;
    margin-left: 10px;
  }

  .logo {
    margin-top: 10px;
    margin-right: 10px;
  }

  .nav_toggle {
    transform: translateX(0%);
  }

  .toggle .line1 {
    transform: rotate(-45deg) translate(-5px, 6px);
  }
  .toggle .line2 {
    opacity: 0;
  }
  .toggle .line3 {
    transform: rotate(45deg) translate(-5px, -6px);
  }

  .hover .line1 {
    transform: translateY(-3px);
    transition: all 0.3s;
  }
  .hover .line2 {
    opacity: 0;
    transition: all 0.3s;
  }
  .hover .line3 {
    transform: translateY(3px);
    transition: all 0.3s;
  }
}

@media (max-width: 1000px) {
  .nav_links {
    width: 45%;
  }
}

@media (min-width: 900px) {
  .nav_links {
    width: 55%;
  }
}

@media (min-width: 1200px) {
  .nav_links {
    width: 50%;
  }
}
