img {
  width: 100%;
}

section {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 10px;
}

section img {
  padding-inline: 2rem;
}

/* article {
  border: solid black 1px;
  border-radius: 5px;
  padding: 1rem;
  margin: 1rem;
} */

/* .valgt {
  background-color: red;
} */

.produkter_knapper {
  display: flex;
  justify-content: center;
  gap: 10px;
  overflow-x: auto;
  flex-wrap: wrap;
}
.produkter_knapper :hover {
  scale: 1.1;
}

/* nav button {
  background-color: darkgrey;
  border-radius: 5px;
  border: none;
  padding: 8px;
} */

h1 {
  text-align: center;
}

article p {
  text-align: center;
}

article img {
  text-align: center;
}

@media (min-width: 750px) {
  section {
    margin-inline: 6rem;
  }
}
