/*  .......... singleView ......... */

#single h2 {
  text-align: left;
  margin-bottom: 2rem;
}

#single {
  cursor: default;
  margin-inline: 7%;
}

#single p {
  text-align: left;
}
#single #product_img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

#single .pris {
  margin-bottom: 1rem;
}
#single .farve {
  margin-bottom: 1rem;
}
#single .beskrivelse {
  margin-bottom: 1rem;
}

#section_wrapper {
  display: block;
}

#lignende_produkter h2 {
  text-align: center;
  margin-top: 2rem;
}

#back_knap {
  margin-left: 2rem;
  margin-top: 2rem;
}

/*  .......... singleView slut......... */

/*  .......... grid af produkter ......... */

section {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 10px;
  margin-bottom: 3rem;
}

section img {
  padding-inline: 2rem;
}

article {
  cursor: pointer;
}

article .navn {
  font-weight: bold;
}
article .pris {
  font-style: italic;
}

.valgt {
  scale: 1.1;
  background-color: #fff;
  color: black;
  border: solid 1px black;
}

/*  .......... grid af produkter slut ......... */

/*  .......... filtreringsknapper ......... */

.produkter_knapper {
  display: flex;
  justify-content: center;
  gap: 25px;
  overflow-x: auto;
  flex-wrap: wrap;
  padding-top: 2rem;
  padding-bottom: 2rem;
}
.produkter_knapper :hover {
  scale: 1.1;
}

/*  .......... filtreringsknapper slut ......... */

/*  .......... breadcrums sti ......... */

.breadcrumb {
  margin-left: 2rem;
  padding: 10px 16px;
  text-align: center;
}

.breadcrumb li {
  list-style: none;
  text-decoration: none;
  display: inline;
  font-size: 1rem;
  font-family: "raleway";
}

ul.breadcrumb li a {
  text-decoration: none;
  color: black;
}

ul.breadcrumb li + li:before {
  padding: 8px;
  color: black;
  content: "\2192";
}

ul.breadcrumb li a:hover {
  text-decoration: underline;
}

/*  .......... breadcrums slut ......... */

/*  .......... fonte ......... */

h1 {
  text-align: center;
}
#h2_lignende {
  text-align: center;
  margin-top: 3rem;
  margin-bottom: 2rem;
}
/*  .......... fonte slut ......... */

/*  .......... template p og img ......... */

article p {
  text-align: center;
}

article img {
  text-align: center;
}

/*  .......... klasser til popUp ......... */

.hidden {
  display: none;
}

.show {
  display: block;
}

/*  .......... Styling af popUp ......... */

#popup_produkter {
  width: 100%;
  height: 100vh;
  background-color: rgba(3, 43, 82, 0.3);
  position: fixed;
  top: 0;
}

#popup_produkter_content {
  background-color: white;
  width: 30vh;
  height: 19vh;
  line-height: 1.5rem;
  margin-left: 2rem;
  padding-bottom: 1rem;
  margin-top: 1rem;
  padding-top: 1rem;
  padding-right: 0rem;
}
#popup_produkter_content h2 {
  text-align: center;
  font-size: 1rem;
  padding-top: 1rem;
}

#popup_produkter_content #luk_produkter {
  margin-left: 2rem;
  margin-bottom: 0;
}

/*  ....... Styling af popUp slut ......... */

/*  .......... template p og img slut ......... */

@media (min-width: 750px) {
  /*  .......... singleView ......... */
  section {
    margin-inline: 6rem;
  }

  #single {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  #single #section_wrapper {
    grid-column: 2;
  }

  #single #product_img {
    max-width: 100%;
  }

  #section_wrapper {
    padding-top: 3rem;
  }

  /*  .......... breadcrums  ......... */
  .breadcrumb li {
    font-size: 1rem;
  }
  .breadcrumb {
    text-align: left;
  }
  /*  .......... breadcrums slut  ......... */
  /*  .......... singleView slut ......... */
}
