/*  .......... singleView ......... */

#single h2 {
  text-align: left;
  margin-bottom: 2rem;
}

#single {
  cursor: default;
}

#single p {
  text-align: left;
}
#single img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

#single .pris {
  margin-bottom: 1rem;
}
#single .farve {
  margin-bottom: 1rem;
}
#single .beskrivelse {
  margin-bottom: 1rem;
}

#section_wrapper {
  display: block;
}

#lignende_produkter h2 {
  text-align: center;
  margin-top: 2rem;
}

#back_knap {
  margin-left: 2rem;
  margin-top: 2rem;
}

/*  .......... singleView slut......... */

img {
  width: 100%;
}

section {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 10px;
}

section img {
  padding-inline: 2rem;
}

article {
  cursor: pointer;
}

.valgt {
  scale: 1.1;
  background-color: #fff;
  color: black;
  border: solid 1px black;
}

.produkter_knapper {
  display: flex;
  justify-content: center;
  gap: 25px;
  overflow-x: auto;
  flex-wrap: wrap;
}
.produkter_knapper :hover {
  scale: 1.1;
}

/* nav button {
  background-color: darkgrey;
  border-radius: 5px;
  border: none;
  padding: 8px;
} */

h1 {
  text-align: center;
}

#h2_lignende {
  text-align: center;
  margin-top: 3rem;
}

article p {
  text-align: center;
}

article img {
  text-align: center;
}

@media (min-width: 750px) {
  section {
    margin-inline: 6rem;
  }

  #single {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  #single #section_wrapper {
    grid-column: 2;
  }

  #single img {
    max-width: 100%;
  }

  #section_wrapper {
    padding-top: 3rem;
  }
}
